.main-box{
    width: auto;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}